<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="header" class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="navbar-collapse justify-content-around">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a id="github" class="nav-link">Github</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="login" class="nav-link">LogIn</a>
      </li>
      <li class="nav-item">
        <a id="username" class="nav-link">username</a>
      </li>
      <li class="nav-item">
        <a id="signup" class="nav-link">SignUp</a>
      </li>
      <li class="nav-item">
        <a id="logout" class="nav-link">LogOut</a>
      </li>
    </ul>
  </div>
</div>
</body>
`</html>